body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

header img {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    border-radius: 50%;
    left: 23px;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
   
}

header nav {
    position: absolute;
    right: 23px;
    transform: translate(0, -50%);
    top: 50%;
}

header nav li {
    display: inline-flex;
}

header nav li a {
    color: white;
}

#description {
    padding: 150px 10% 0 10%;
    background-color: rgba(210, 224, 224, 1);
}

#description img {
    float: left;
    margin-right: 20px;
}

#description h2 {
    margin: 20px 0 30px 0;
}

.description-p2 {
    clear: both;
    padding: 20px 0 60px 0;
}

#relationship {
    padding: 0 10% 0 10%;
}

#relationship img {
    float: right;
    margin-left: 20px;
}

#relationship h2 {
    margin: 60px 0 40px 0;
}

.relationship-p1 {
    margin-bottom: 40px;
}

footer {
    clear: both;
    width: 100%;
    background-color: gray;
    text-align: center;
    padding: 40px;
}




